# Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [2]:
import pandas as pd

In [3]:
List = [4, 8, 15, 16, 23, 42]
pd.Series(List)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [4]:
print(pd.Series(List))

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

# Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [5]:
List = [i for i in range(1,40,4)]
pd_series=pd.Series(List)

In [6]:
print(pd_series)

0     1
1     5
2     9
3    13
4    17
5    21
6    25
7    29
8    33
9    37
dtype: int64

# Q3. Create a Pandas DataFrame that contains the following data:

In [7]:
List = [['Alice',25,'Female'],['Bob',30,'Male'],['Claire',27,'Female']]
df = pd.DataFrame(List, index = ['','',''], columns=['Name','Age','Gender'])
print(df)

    Name  Age  Gender
   Alice   25  Female
     Bob   30    Male
  Claire   27  Female

# Q4. What is 'DataFrame' in pandas and how is it different from pandas.series? Explain with an example.

DataFrame Is a list of lists in structured data, in a common way "multi-dimensional ndarray with axis labels" Create DataFrame by using Lists, dict, Series, Numpy ndarrays, Another DataFrame excel file, etc. If you create DataFrame by using Dict then key will be DataFrame column name.

In [8]:
import pandas as pd
L = [[1,2,3,4],['a','b','c','d'],['A','B','C','D']]
df = pd.DataFrame(L)
df

   0  1  2  3
0  1  2  3  4
1  a  b  c  d
2  A  B  C  D

pandas.series Is a look-like list, in common way "One-dimensional ndarray with axis labels"

In [9]:
L1 = [[1,2,3,4],['a','b','c','d'],['A','B','C','D']]
seri = pd.Series(L1)
seri

0    [1, 2, 3, 4]
1    [a, b, c, d]
2    [A, B, C, D]
dtype: object

# Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

1. pd.DataFrame( ) used to create or convert a dataframe

In [10]:
import pandas as pd
l = [[3,4,5,6],[4,5,6,7],[9,8,7,6]]
df = pd.DataFrame(l)
df

   0  1  2  3
0  3  4  5  6
1  4  5  6  7
2  9  8  7  6

2. info( ) Used to get all information about dataframe

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       3 non-null      int64
 1   1       3 non-null      int64
 2   2       3 non-null      int64
 3   3       3 non-null      int64
dtypes: int64(4)
memory usage: 224.0 bytes

3. head( ) used to get upper 5 rows by default (you can change)

In [12]:
df.head(2)

   0  1  2  3
0  3  4  5  6
1  4  5  6  7

4. tail( ) used to get 5 rows from last(you can change it)

In [13]:
df.tail(2)

   0  1  2  3
1  4  5  6  7
2  9  8  7  6

5.read_csv( ) used to read csv file

In [14]:
pd.read_csv("gemstone")

FileNotFoundError: [Errno 2] No such file or directory: 'file path'

6. read_excel( ) used to read excel file

pd.read_excel('file path') # file must be unlocked

# Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Series pandas series is mutable, you can change element in series pandas

In [15]:
import pandas as pd
s = pd.Series(['Sun','Mon','Tue','Wed'])
s[2] = 'Thu'
s

0    Sun
1    Mon
2    Thu
3    Wed
dtype: object

In [16]:
import pandas as pd

data = {'name': ['John', 'Mary', 'Peter', 'Jane'],
        'age': [25, 32, 18, 47],
        'gender': ['M', 'F', 'M', 'F']}

df = pd.DataFrame(data)

In [17]:
df.loc[0, 'age'] = 26

In [18]:
df

    name  age gender
0   John   26      M
1   Mary   32      F
2  Peter   18      M
3   Jane   47      F

Panel It has been removed in version 1.0.0. Now DataFrame is a best way to read data

# Q7. Create a DataFrame using multiple Series. Explain with an example.

In [19]:
List = pd.Series(['Alice',25,'Female'])
List2 = pd.Series(['Bob',30,'Male'])
List3 = pd.Series(['Claire',27,'Female'])

df = pd.DataFrame([List,List2,List3])
df

        0   1       2
0   Alice  25  Female
1     Bob  30    Male
2  Claire  27  Female